
  .resource {
    color: white;
  }

  .App-header {
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    display: grid;
  }

  .black {
    background-color: rgb(48, 48, 48);
  }

  .black1 {
    color: rgb(228, 14, 14);
    font-size: 3rem;

  }

  .white {
    background-color: rgb(231, 231, 231);
  }

  .light {
    width: 100px;
    height: 100px;
  }